@{
    ViewData["Title"] = "Walls data";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="input-group mr-3">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-sm btn-outline-secondary"><</button>
            </div>
            <input id="selectedDate" type="date" class="form-control" placeholder="" aria-label="">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-sm btn-outline-secondary">></button>
            </div>
        </div>
    </div>
</div>
<div id="dashboard"></div>

@section Scripts {
    <script src="~/js/viewResults.js" asp-append-version="true"></script>
}
