<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections> <section name="logsources" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="MachineName" value="MyLocalMachine"/>
      <add key="MetricInterval" value="5"/>
      <add key="LogsInterval" value="4"/>
    </appSettings>
    <logsources>
      <add key="ES1" value="d:\1\extensions.log"/>
      <add key="ES2" value="d:\2\extensions.log"/>
      <add key="ES3" value="d:\3\extensions.log"/>
    </logsources>
</configuration>