@model List<Machine>

<h3>Main</h3>
<hr width="30%" align="left" />
<br />
<div class="container-fluid">
    <div class="row">

        @foreach (var machine in Model)
        {
        <div class="col col-sm-4" style="margin:1%">
            <div>
                <h6>@machine.Name</h6>
            </div >
            <div class="card">
                <div class="card-body">

                </div>
            </div>
            <canvas id=" = ">

            </canvas>
        </div>
                }
                
        </div>
</div>